.container{
    flex-grow: 1;
    height: calc(100vh - 80px);
    background-image: url("../../Media/bind_background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.main{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}