.container{
    height: 15rem;
    width: 80%;
    background: rgba(15, 25, 35, 0.753);
    margin-top: 1rem;
    opacity: 1;
}
.essential_icon{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    font-size: 1.5rem;
}
.main{
    height: 100%;
    color: rgb(236, 230, 230);
}
.active{
    background-color: olivedrab;
}
.attacking{
    background-color: orange;
}
.defending{
    background-color: purple;
}