.container {
	opacity: 1;
	height: 100%;
	
}
.main {
	display: flex;
	flex-direction: row;
	height: inherit;
	
	
}
.main_left{
	min-width: 60%;
	background: rgba(15, 25, 35, 0.918);
	border-right: 1px solid white;
	position: relative;
	overflow-y: auto;
	height: calc(100vh - 210px)
}
.info {
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-left: 8rem;
	border-left: 1px solid rgb(145, 145, 145);
	height: 100%;
	padding-bottom: 4rem;
}
.textbox {
	color: rgb(240, 231, 231);
}
.filter{
	padding-left: 1rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgb(145, 145, 145);
}

.title{
	height: 4yrem;
	padding-left: 1rem;
	font-size: 2.5rem;
	margin: 0;
	font-family: 'GoodTimes', 'Roboto', sans-serif;
	
}
.info_media {
	position: relative;
}
.info_text_container{
	position: relative;
	width: 90%;
	height: fit-content;

}
.info_text{
	font-size: 1.6rem;
	padding: 2rem;
	margin: 0;
}
.filterbox{
	margin-top: 1rem;
	padding-top: 1rem;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	width: fit-content;
	flex-wrap: wrap;
	padding-right: 1rem;
	padding-bottom: 1rem;

}
.filterbox::before{
	box-sizing: border-box;
	content: "";
    display: block;
	position: absolute;
	height: calc(50% - .9rem);
	width: 100%;
	color: black;
    border: 1px solid rgba(184, 184, 184, 0.733);
	left: 0;
	top: 0;
    border-bottom: 0;
}
.filterbox::after{
	box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    height: calc(50% - .9rem);
    width: 90%;
	border: 1px solid rgba(184, 184, 184, 0.733);
	bottom: 0;
    border-top: 0;
}

.difficulty{
	padding: 3px 5px 3px 5px !important;
}
.icon {
	margin-left: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	width: fit-content;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 3px 5px 3px 5px;
	border-radius: 5px;
	color: white;
	background-color: rgb(53, 142, 197);
	font-size: 1.5rem;
}
.attacking {
	background-color: rgb(255, 123, 0);
}
.defending {
	background-color: rgb(99,56,126);
}
.colorGreen{
    background-color: rgb(98, 163, 29);
}
.colorYellow{
    background-color: rgb(163, 157, 94);
}
.colorRed{
    background-color: rgb(175, 41, 41);
}
.images{
    height: 100%;
    width: 100%;
}
.main_right{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.map_container{
	width: fit-content;
	display: flex;
	justify-content: center;
	align-self: center;
}
.map{
	display: block;
	
}
.map_wrapper{
	border: 1px solid black;
	position: relative;
}
.map_wrapper::after{
    content: "";
    display: block;
    position: absolute;
    height: 6rem;
    width: .5rem;
    top: calc(50% - 3rem);
    right: -.5rem;
    background-color: #e4e4e4;
}
.map_wrapper::before{
    content: "";
    display: block;
    position: absolute;
    height: 6rem;
    width: .5rem;
    top: calc(50% - 3rem);
    left: -.5rem;
    background-color: #e4e4e4;
}