.container{
    flex-grow: 1;
    height: calc(100vh - 80px);
    background-image: url("../Media/bind_background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-center;
    align-items: flex-start;
}
.lineup_selector{
    width: 20% !important;
    height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: visible;
    padding-bottom: 6rem;
    background-color: rgba(17, 17, 17, 0.664);
}
.lineup_selector_main{
    overflow-y: auto;
    width: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    align-items: flex-end;
}

.lineup_detail{
    max-width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.map_title{
    font-size: 3rem;
    font-family: 'ValorantFont', sans-serif;
}

.filter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lineupDetailItem{
    flex-grow: 1;
    
}
