.container{
    width: fit-content;
}
.difficulty_level{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    color: white;
    
}
.colorGreen{
    background-color: rgb(119, 230, 1);
}
.colorYellow{
    background-color: rgb(197, 191, 9);
}
.colorRed{
    background-color: rgb(226, 55, 55);
}