.container{
    box-sizing: border-box;
height: 800px;
background-image: url('../Media/maps_background.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section_title{
    position: relative;
    width: 20%;
}
.map_selection{
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-left: 2px solid rgb(54, 54, 54);
}
.title{
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10rem;
    letter-spacing: 3px;
    font-size: 10rem;
    transform: rotate(-90deg) translate(50%, 100%);
    text-align: center;
    font-family: 'Tungsten-Bold', sans-serif;
    color: rgba(107, 107, 107, 0.897); 
    /* -webkit-text-stroke: 1px rgb(83, 83, 83) */
}
.link{
    width: fit-content; 
    margin-left: 5rem;
    transition: all 1s ease-out;
    -webkit-box-shadow: 19px 24px 40px -9px rgba(0,0,0,0.6);
-moz-box-shadow: 19px 24px 40px -9px rgba(0,0,0,0.6);
box-shadow: 19px 24px 40px -9px rgba(0, 0, 0, 0.473);
}
.link:hover{
    -webkit-box-shadow: 19px 24px 40px -9px rgba(0,0,0,0.6);
-moz-box-shadow: 19px 24px 40px -9px rgba(0,0,0,0.6);
box-shadow: 19px 24px 40px -9px rgba(0, 0, 0, 0.336);
}